/* css de la zone header */
header
{ display:flex;
  margin:100px auto 0px auto;
  width:1350px;
  height:200px;
  position:relative;
}
.logo
{ display:inline-flex;
  width:20%;
  height:200px;
  justify-content: center;
  align-items:center;
  position:absolute;
  left:0px;
}
.logo > img
{ text-align:center;
  width:auto;
  height:100%;
}
.menu_ouvert
{ display:block;
  height:75px;
  justify-content: center;
  align-items:center;
  position:absolute;
  right:0px;
  top:100px;
}


.menu_ouvert .lien {
  display:inline-flex;
  text-decoration:none;
  color:#838383;
  font-size:25px;
  font-family: 'PT Sans', sans-serif;
  border:2px solid #838383;
  border-radius:10px;
  padding:10px 20px;
  margin:0px 30px;
}
.menu_ouvert .lien:hover {
  color:#ffffff;
  background-color:#838383;
}

.menu_ouvert > div:hover
{ border:2px solid #ffffff;
}
.menu_ouvert > div > a:hover
{ background-color:#838383;
  color:#ffffff;
}
.menu_ouvert > div:first-child
{ margin-left:-5%;
}
.menu_fermer {
  display:inline-flex;
  width:2%;
  height:50px;
  justify-content: flex-end;
  align-items:center;
  position:absolute;
  right:0px;
  top:100px;
}
.bouton_menu {
  display:none;
  color:#838383;
  font-size:25px;
  font-family: 'PT Sans', sans-serif;
  text-decoration:none;
}
i {
  color:#838383;
}
.bouton_fermer {
  display:inline-block;
  color:#838383;
  font-size:25px;
  font-family: 'PT Sans', sans-serif;
  text-decoration:none;

}

/* css de la zone main */
main
{ display:flex;
  flex-wrap:wrap;
  width:1400px;
  margin:0px auto;
}

      /*css du bloc haut -> Uniquement pour la page d'accueil*/
      .blochaut
      { display:flex;
        width: 100%;
        margin: auto;
        height:400px;
        align-items:center;
        justify-content:center;
        margin-top:75px;
        overflow: hidden;
        background-image: url(./img/imgcom.gif);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center
      }
      .blochaut > img {
        width:55%;
        height:400px;
        display:none;
      }
      /* - - - - - - - - - - - - - - - - - - - - - - - - - - */

.blocbas
{ display:flex;
  width:100%;
  margin-top:75px;
}
.blocgauche
{ display:inline-flex;
  width:75%;
  margin-right:175px;
  flex-wrap:wrap;
}
h1
{ display:block;
  margin:10px 0px 0px 0px;
  color:#545252;
  font-family: 'PT Sans', sans-serif;
}
h2
{ display:block;
  width:100%;
  margin-top:25px;
  color:#1e99b3;
  font-family: 'PT Sans', sans-serif;
}
h3
{ display:block;
  width:100%;
  color:#1e99b3;
  font-family: 'PT Sans', sans-serif;
}
.blocgauche > p
{ display:block;
  font-size:18px;
  margin-bottom:20px;
  color:#5e5e5e;
  font-family: 'PT Sans', sans-serif;
}
.blocdroite
{ display:inline-flex;
  width:24%;
}
.image > a
{ display:flex;
  margin-bottom:15px;
  width:100%;
  height:auto;
}

/* css de la zone formulaire */
#titreformulaire {
  height:50px;
}
#titreformulaire > h2 {
  margin-top:0px;
}

#formulaire
{ margin-top : -130px;
  padding : 10px;
  color : #666;
  width:100%;
  height:200px;
  font-family: 'PT Sans', sans-serif;
}
#formulaire .textbox
{ color: black;
  font-size: 16px;
  height: 32px;
  padding:8px 0px 6px 10px;
  width: 31.3%;
  margin-top:10px;
  font-family: 'PT Sans', sans-serif;
  border:1px solid #5e5e5e;
}
#formulaire .textbox.last
{ margin-right:0%;
}
#formulaire .textbox.long
{ width:66.75%;
  margin-right:0px;
}
#boutonsradio
{ display:inline-block;
  width:85%;
  margin:0px 0px 0px 10px;
  text-align:left;
  vertical-align:top;
}
.bouton
{ background-color: #21a1bc;
  position: relative;
  height: 50px;
  margin-top:10px;
  border-radius: 10px;
  width:35%;
  text-transform : uppercase;
  color : white;
  font-size:15px;
}
input#message.textbox.long {
  height:150px;
}
.ligne_bouton
{ width:100%;
}
#formulaire .ligne_form textarea {
  height:100px;
}
/* css de la zone @media */
@media (min-height:1101px) and (max-width:1460px) {
  header {
    width:950px;
  }
  main {
    width:1000px;
  }
  .blochaut {
    height:300px;
  }
  .blocgauche {
    width:58.5%;
    margin-right:115px;
  }
  .blocdroite {
    width:29%;
  }
  .image > a {
    margin-bottom:30px;
  }
}
@media (min-height:751px) and (max-width:1100px) {
  header {
    width:650px;
  }
  .menu_ouvert {
    display:block;
  }
  .menu_ouvert .lien {
    font-size:20px;
    margin:0 15px;
  }
  main {
    width:700px;
  }
  .blochaut {
    height:200px;
  }
  .blocgauche {
    width:50%;
    margin-right:50px;
  }
  .blocgauche p {
    font-size:15px;
  }
  .blocdroite {
    width:29%;
  }
  .image > a {
    margin-bottom:50px;
  }
  #formulaire {
    margin-top:-50px;
    height:310px;
  }
  input#message.textbox.long {
    height:100px;
  }
  .bouton {
    width:42%;
  }
}
@media (max-width:750px) {
  header {
    width:100%;
  }
  .menu_ouvert {
    display:none;
    flex-wrap:wrap;
    right:25%;
    top:10px;
    width:20%;
  }
  .menu-show {
    display: block;
  }
  .logo {
    margin-left:10%;
  }
  .logo > img {
    height:75%;
  }
  .menu_ouvert .lien {
    font-size:20px;
    margin:10px 0px;
    width:80%;
    justify-content: center;
  }
  .bouton_menu {
    display:block;
    margin-right:20px;
  }
  .menu_fermer {
    top:20px;
  }
  .bouton_fermer {
    margin-left:45px;
  }
  main {
    width:100%;
  }
  .blochaut {
    display:none;
    word-wrap:break-word;
  }
  .blocbas {
    flex-wrap:wrap;
  }
  .blocgauche {
    width:100%;
    margin-right:0px;
  }
  .blocgauche > p{
    font-size:18px;
  }
  #formulaire {
    margin-top:10px;
    margin-left:-10px;
    height:auto;
  }
  #formulaire .ligne_form input {
    width:100%;
  }
  #formulaire .ligne_form:first-child input {
    width:10%;
  }
  #formulaire .textbox.long {
    width:100%;
  }
  textarea {
    width:100%;
  }
  .bouton {
    margin-bottom:50px;
    width:100%;
  }
  .blocdroite {
    width:100%;
    margin-top:50px;
  }
  .image {
    width:90%;
    height:auto;
    margin:auto;
  }
  .image > a {
    margin-bottom:30px;
  }
  img.miniature {
    width:100%;
    height:auto;
  }
}